@import url('https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 22px;
  line-height: 34px;
  font-weight: normal;
  margin-bottom: 16px;
}

h2 {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #1d1d1d;
}

h3 {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #626262;
}

p {
  font-weight: normal;
  font-size: 13px;
  line-height: 21px;
  color: #1d1d1d;
}

a {
  text-decoration: none;
}

/*.wrapper {
  max-width: 1124px;
  padding: 0 87px 0 81px;
  margin: 0 auto;

  background-color: #ffffff;
  box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);
}*/

header {
  /*border: 1px solid;*/
  background-color: #ffffff;
  box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 1;
}

.main {
  padding-top: 72px;
}

.logo-wrapper {
  padding-top: 30px;
  padding-bottom: 30px;

}
.logo-wrapper a {
  display: block;
  height: 12px;
}

 header .row {
   align-items: center;

 }

.col-nested_btn {
  justify-content: flex-end;

}

.box-nested .btn {
  /*display: inline-block;*/
  font-family: inherit;
  font-size: 13px;
  line-height: 24px;
  font-weight: 500;
  text-decoration: none;
  color: #1d1d1d;
  padding: 14px 20px;
  border: 1px solid #E0E0E0;
}

.basket {
  padding-left: 11px;
}

/*HEADER закончился*/

/*Поле поиска*/

.input-wrapper {

  margin: 55px auto 55px auto;
  position: relative;
}

.input-wrapper::after {
  content: attr(data-text);
  font-size: 1rem;
  line-height: 0;
  height: 0;
  max-width: 100%;
  font-family: 'Roboto', Arial, sans-serif;
  border-bottom: 2px solid #000000;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  overflow: hidden;
  user-select: none;
  color: transparent;
}

input {
  color: #626262;
  border: none;
  padding: 0;
  border-radius: 0;
  outline: none;
  width: auto;
  min-width: 100%;
  font-size: 1rem;
  line-height: 1.5rem;
  font-family: 'Roboto', Arial, sans-serif;
  border-bottom: 1px solid rgba(117, 117, 117, 0.5);
  background-color: transparent;
}

/*Поле поиска закончилось*/

/*CARDS*/

  .card-group h2 {
    padding-top: 16px;
  }

  .card-group h3 {
    padding-top: 4px;
  }

  .card-group p {
    padding-top: 4px;
    padding-bottom: 20px;
  }

  /*.box .card {
    width: 308px;
    height: 366px;
  }

  .card-body h2 {
    display: block;
  }*/

  /*.card a {
    display: block;
    min-height: 256px;
  }

  .macdonalds-card a {
    background: url('../img/Macdonalds.jpg') no-repeat;
    background-size: cover;
  }

  .card-group:nth-child(2) a {
    background: url('../img/DimSum.jpg') no-repeat;
    background-size: cover;
  }*/

  .card {
    display: block;
    min-height: 256px;
  }

  li {
    list-style-type: none;

    margin-bottom: 16px;
  }
li:nth-child(1) .card {
    background: url('../img/Macdonalds.jpg') no-repeat;
    background-size: cover;
  }

li:nth-child(2) .card {
  background: url('../img/DimSum.jpg') no-repeat;
  background-size: cover;
}

li:nth-child(3) .card {
  background: url('../img/Dvijok.jpg') no-repeat;
  background-size: cover;
}

li:nth-child(4) .card {
  background: url('../img/NJA.png') no-repeat;
  background-size: cover;
}

li:nth-child(5) .card {
  background: url('../img/Tochkadzi.png') no-repeat;
  background-size: cover;
}

li:nth-child(6) .card {
  background: url('../img/Cinnabon.png') no-repeat;
  background-size: cover;
}

li:nth-child(7) .card {
  background: url('../img/pezzelove.jpg') no-repeat;
  background-size: cover;
}

li:nth-child(7) h2 {
  text-transform: uppercase;
}

li:nth-child(8) .card {
  background: url('../img/zu.jpg') no-repeat;
  background-size: cover;
}

li:nth-child(9) .card {
  background: url('../img/bqcage.jpg') no-repeat;
  background-size: cover;
}

a:active {
  display: block;
  background: rgba(117, 117, 117, 0.04);
}

.card-items_container {
  padding-bottom: 64px;
}
/*CARDS закончились*/

/*FOOTER*/

footer {
  background-color: #262626;
  padding-top: 56px;
  font-size:13px;
  line-height: 15px;
  color: #ffffff;
}

footer .container > .row {
  padding-bottom: 40px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  margin-bottom: 32px;
}

footer .container > .row:last-child {
  margin-bottom: 0;
}

select {
      -webkit-appearance: none;
	    -moz-appearance: none;
	    -ms-appearance: none;
	    appearance: none!important;
      width: 100%;
      height: 40px;
      padding: 0 0 0 48px;
      color: #ffffff;
      background: 16px 50% url(../img/world.png) no-repeat, right 16px top 50% url(../img/arrow.png) no-repeat, #3b3b3b;
      border: none;

}

select::-ms-expand {
  		display: none;
	}

.social h6 {
  font-family: 'Roboto';
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  padding-top:33px;
  padding-bottom:17px;
}

.social h6 span {
  color: #49a144;
}

.social-icons {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.social-icons li {
  width:24px;
  height:24px;
  margin-bottom:32px;
}

.social-icons li:nth-child(1) {
  background: url('../img/css_sprites.png') -10px -10px;
}

.social-icons li:nth-child(2) {
  background: url('../img/css_sprites.png') -10px -54px;
}

.social-icons li:nth-child(3) {
  background: url('../img/css_sprites.png') -54px -10px;
}

.partnership li, .FAQs li {
  padding-top: 7px;
  margin-bottom: 16px;
}

.partnership a, .FAQs a {
  color: #ffffff;
}

.FAQs li:last-child {
  margin-bottom: 15px;
}

footer .container > .row:nth-child(2) {
  padding-bottom:25px;
}

.appstore {
  display:flex;
  justify-content: flex-end;
}

footer p {
  color: #ffffff;
}

.scroll-top {
    position: fixed;
    right: 16px;
    bottom: 24px;
    width: 80px;
    height: 80px;
    background: 50% 50% url('../img/Shape.png') #59BD5A no-repeat;
    text-align: center;
    border-radius: 2px;

}

/*.scroll-top:before {
    content: "\f176";
    font-family: FontAwesome;
    color: white;
    font-size: 20px;
    line-height: 50px;
*/

/*END OF FOOTER*/
