@import url('https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 22px;
  line-height: 34px;
  font-weight: normal;
  margin-bottom: 16px;
}

h2 {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #1d1d1d;
}

h3 {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #626262;
}

p {
  font-weight: normal;
  font-size: 13px;
  line-height: 21px;
  color: #1d1d1d;
}

a {
  text-decoration: none;
}

header {
  /*border: 1px solid;*/
  background-color: #ffffff;
  box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 1;
}

.main {
  padding-top: 72px;
}

.logo-wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-left: -8px;
}
.logo-wrapper a {
  display: block;
  height: 12px;
}

 header .row {
   align-items: center;

 }

/*.col-nested_btn {
  justify-content: flex-end;

}*/

.box-nested .btn {
  /*display: inline-block;*/
  font-family: inherit;
  font-size: 13px;
  line-height: 24px;
  font-weight: 500;
  text-decoration: none;
  color: #1d1d1d;
  padding: 14px 20px;
  border: 1px solid #E0E0E0;
}

.basket {

  display: flex;
  justify-content: flex-end;
}

/*HEADER закончился*/

/*Navigation*/

.nav-item a {
  font-size: 16px;
  line-height: 19px;
  color: #626262;
}

.current a {
  color: #327430;
}

.navigation {
  border-bottom: 1px solid rgba(117, 117, 177, 0.2)
}

.navigation-list .nav-item {
  padding-top: 32px;
  padding-right: 40px;
  padding-bottom: 29px;
}

.navigation-list .nav-item:first-child {
  padding-left: 8px;
}
/*Navigation ended*/

/*CARD-GROuP*/
.cards-group h2 {
  padding-top:56px;
  padding-bottom:32px;
  font-size: 22px;
  line-height:34px;
  color:#1d1d1d;
}

.cards-group h3 {
  padding-top: 16px;
  font-size:16px;
  line-height:24px;
}

.cards-group h4 {
  padding-top: 4px;
  font-size:13px;
  line-height:21px;
  color:#626262;
  font-weight: normal;
}

.card-wrapper > .box-container {
  padding-left: 16px;
  border: 1px solid rgba(117, 117, 117, 0.2);
  border-radius: 2px;
  margin: 1px;
}

.photo-container {
  display: flex;
  justify-content: flex-end;

}

.price {
  font-size: 15px;
  line-height: 21px;
  font-weight: 500;
  margin-top: 83px;
}

.relish + .price {
  margin-top: 58px;
}

.photo {
  width: 170px;
  height: 160px;
}

.card-wrapper:nth-child(1) .photo {
  /*margin: 0 -8px;*/
  background: url('../img/herring.png') no-repeat;
  background-size: cover;
}

.card-wrapper:nth-child(2) .photo {
  /*margin: 0 -8px;*/
  background: url('../img/pickles.png') no-repeat;
  background-size: cover;
}

.card-wrapper:nth-child(3) .photo {
  /*margin: 0 -8px;*/
  background: url('../img/mushrooms.png') no-repeat;
  background-size: cover;
}

.cards-row div:nth-child(4) .photo {
  /*margin: 0 -8px;*/
  background: url('../img/fat.png') no-repeat;
  background-size: cover;
}

.cards-row div:nth-child(5) .photo {
  /*margin: 0 -8px;*/
  background: url('../img/salmon.png') no-repeat;
  background-size: cover;
}

.cards-row div:nth-child(6) .photo {
  /*margin: 0 -8px;*/
  background: url('../img/tongue.png') no-repeat;
  background-size: cover;
}


/*CARD-GROUP ENDED*/

/*HERO AND media*/

@media screen and (min-width: 992px) {
  .hero {
    height: 364px;
    background: 50% 50% url('../img/hero.png') no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
  }

  .hero .box {
    background: #ffffff;
    padding-top:38px;
    padding-bottom:38px;
    padding-left: 38px;
    padding-right: 29px;
    box-shadow: 0 0 16px rgba(117, 117, 117, 0.2);
  }

  .banner-row h1 {
    margin-bottom: 54px;
    font-size: 36px;
    line-height: 42px;
    color: #1d1d1d;
    /*text-align: center;*/
  }

  .time-for-cooking {
    display:flex;
    justify-content: flex-end;
  }

  .qualification {
    line-height: 32px;
    vertical-align: middle;
  }

  .time-for-cooking .box-nested{
    width:100px;
    height: 32px;
    background: #262626;
    border-radius: 16px;

    color: #ffffff;
    text-align: center;
    font-size:13px;
    line-height:32px;
    vertical-align: middle;
  }

  .card-wrapper {
    margin-bottom: 49px;
  }

  .main {
    padding-bottom: 31px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .logo-wrapper {
    /*margin-left: -16px;*/
  }

  .hero {
    height: 364px;
    background: 50% 50% url('../img/hero-md.png') no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
  }

  .hero .box {
    background: #ffffff;
    padding-top:38px;
    padding-bottom:38px;
    padding-left: 40px;
    padding-right: 52px;
    box-shadow: 0 0 16px rgba(117, 117, 117, 0.2);
  }

  .banner-row h1 {
    margin-bottom: 54px;
    font-size: 36px;
    line-height: 42px;
    color: #1d1d1d;
    /*text-align: center;*/
  }

  .time-for-cooking {
    display:flex;
    justify-content: flex-end;
  }

  .qualification {
    line-height: 32px;
    vertical-align: middle;
  }

  .time-for-cooking .box-nested{
    width: 94px;
    height: 32px;
    background: #262626;
    border-radius: 16px;

    color: #ffffff;
    text-align: center;
    font-size:12px;
    line-height:32px;
    vertical-align: middle;
  }

  /*отступ для навигации в md*/
  .navigation-list .nav-item:first-child {
    /*margin-left: -8px;*/
  }

  /*.card-wrapper {
    margin: 0 -16px;
  }*/

  .photo {
    width: 200px;
    height: 160px;
  }

  .card-wrapper {
    margin-bottom: 32px;
  }

  .main {
    padding-bottom: 16px;
  }
}

@media screen and (max-width: 575px) {
  .hero {
    height: 255px;
    background: 50% 50% url('../img/hero-sm.png') no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
  }

  .hero .box {
    position: relative;
    top: 90px;
    background: #ffffff;
    padding-top:24px;
    padding-bottom:24px;
    padding-left: 41px;
    padding-right: 41px;
    box-shadow: 0 0 16px rgba(117, 117, 117, 0.2);
  }

  .banner-row h1 {
    display: flex;
    justify-content: center;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 40px;
    color: #1d1d1d;
  }

  .qualification {
    display: flex;
    justify-content: center;
    font-size: 14px;
    line-height: 16px;
    vertical-align: middle;
    margin-bottom: 16px;
    color: #626262;
  }

  .time-for-cooking {
    display: flex;
    justify-content: center;
  }

  .time-for-cooking .box-nested{
    width: 94px;
    height: 32px;
    background: #262626;
    border-radius: 16px;

    color: #ffffff;
    text-align: center;
    font-size:12px;
    line-height:32px;
    vertical-align: middle;
  }

  .cards-group h2 {
    padding-top:111px;
    padding-bottom:12px;
    margin-left: auto;
    margin-right: auto;
    font-size: 22px;
    line-height:34px;
    color:#1d1d1d;
  }

  .line {
    margin: 0 auto;
    width: 50px;
    border-bottom: 1px solid #757575;
    margin-bottom: 43px;
  }

  .cards-group h3 {
    padding-top: 0px;
    font-size: 14px;
    line-height: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .price {
    margin-top: 41px;
  }

  .relish + .price {
    margin-top: 16px;
  }

  .card-wrapper {
    margin-bottom: 16px;
  }
  .card-wrapper > .box-container {
    padding-left: 0px;
    border: none;
    border-bottom: 1px solid rgba(117, 117, 117, 0.2);

  }

  .photo {
    height: 102px;
  }

  .main {
    padding-bottom: 24px;
  }
}

/*HERO ended*/

/*FOOTER*/

footer {
  background-color: #262626;
  padding-top: 56px;
  font-size:13px;
  line-height: 15px;
  color: #ffffff;
}

/*footer paddings, margins*/

footer .container > .row {
  padding-bottom: 40px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  margin-bottom: 32px;
}

footer .container > .row:last-child {
  margin-bottom: 0;
  padding-bottom: 16px;
  border: none;
}

footer .container > .row:nth-child(2) {
  padding-bottom:25px;
}

footer .container > .row:last-child div:nth-child(1), footer .container > .row:last-child div:nth-child(2) {
  margin-bottom: 24px;
}

select {
      -webkit-appearance: none;
	    -moz-appearance: none;
	    -ms-appearance: none;
	    appearance: none!important;
      width: 100%;
      height: 40px;
      padding: 0 0 0 48px;
      color: #ffffff;
      background: 16px 50% url(../img/world.png) no-repeat, right 16px top 50% url(../img/arrow.png) no-repeat, #3b3b3b;
      border: none;

}

select::-ms-expand {
  		display: none;
	}

.social h6 {
  font-family: 'Roboto';
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  padding-top:33px;
  padding-bottom:17px;
}

.social h6 span {
  color: #49a144;
}

.social-icons {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.social-icons li {
  width:24px;
  height:24px;
  margin-bottom:32px;
}

.social-icons li:nth-child(1) {
  background: url('../img/css_sprites.png') -10px -10px;
}

.social-icons li:nth-child(2) {
  background: url('../img/css_sprites.png') -10px -54px;
}

.social-icons li:nth-child(3) {
  background: url('../img/css_sprites.png') -54px -10px;
}

.partnership li, .FAQs li {
  padding-top: 7px;
  margin-bottom: 16px;
}

.partnership a, .FAQs a {
  color: #ffffff;
}

.FAQs li:last-child {
  margin-bottom: 15px;
}

.appstore {
  display:flex;
  justify-content: flex-end;
}

footer p {
  color: #ffffff;
}

.scroll-top {
    position: fixed;
    right: 16px;
    bottom: 24px;
    width: 80px;
    height: 80px;
    background: 50% 50% url('../img/Shape.png') #59BD5A no-repeat;
    text-align: center;
    border-radius: 2px;

}

/*.scroll-top:before {
    content: "\f176";
    font-family: FontAwesome;
    color: white;
    font-size: 20px;
    line-height: 50px;
*/

/*END OF FOOTER*/
